.clearfix-tabs{
	clear: both;
}

.gk_tab_item_space{
	padding:0px;
}

div.gk_tab-style1 {
	position: relative;
}

div.gk_tab_wrap-style1 {
	margin: 0 auto;
}

ul.gk_tab_ul-style1 {
	list-style-type: none;
	margin: 0 0 8px 0 !important;
	padding: 0;
	overflow:hidden;
	background:url(../../images/horizontal/style1/title_bg.gif) 0 0 repeat-x #11315e;
}

ul.gk_tab_ul-style1 li {
	float: left;
	cursor: pointer;
	margin: 0;
	border-bottom: none;
	position: relative;
	padding: 1px;
	padding-bottom: 0px;
}

ul.gk_tab_ul-style1 li span {
	
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0 19px;
	font-size: 14px;
	color: #fff;
	font-weight:bold;
}

ul.gk_tab_ul-style1 li.active span {
	color: #326ba6;
	background:#fafafa;
}
ul.gk_tab_ul-style1 li.active {border:1px solid #ebebeb; padding:0;}
ul.gk_tab_ul-style1 li:hover {border:1px solid #ebebeb; padding:0;}
ul.gk_tab_ul-style1 li:hover span {
	color: #326ba6;
	background:#fafafa;
}
div.gk_tab_container0-style1 {
	clear: both;
	background: url('../../images/horizontal/style1/bg_content.png') repeat-x 0 0;
}

div.gk_tab_container1-style1 {
	overflow: hidden;
	
}

div.gk_tab_item-style1 {
	float: left;
	overflow: hidden;
	padding:0px;
}

div.gk_tab_button_next-style1,
div.gk_tab_button_prev-style1 {
	width: 24px;
	height: 24px;
	background: url('../../images/horizontal/style1/b_next.png') no-repeat 0 0;
	cursor: pointer;
	position: absolute;
	top: 43%;
	right: 0;
}

div.gk_tab_button_prev-style1 {
	background: url('../../images/horizontal/style1/b_prev.png') no-repeat 0 0;
	left: 0;
	right:inherit;
}

div.gk_tab_button_next-style1:hover {
	background: url('../../images/horizontal/style1/b_next.png') no-repeat 100% 0;
}

div.gk_tab_button_prev-style1:hover {
	background: url('../../images/horizontal/style1/b_prev.png') no-repeat 100% 0;
}
.gk_tab_container0-style1,
.gk_tab_container1-style1,
.gk_tab_container2-style1{
	position:relative;
}